<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.BindCardMapper">

	<select id="selectById" parameterType="java.lang.Integer" resultType="BindCard">
		SELECT * 
		FROM BindCard
		WHERE id=#{id}
	</select>

	<update id="updateBindCard" parameterType="BindCard">
		UPDATE BindCard
		SET personId=#{personId},
		 	bankCard=#{bankCard},
			bankMobile=#{bankMobile},
			status=#{status},
			createTime=#{createTime},
			updateTime=#{updateTime}
		WHERE id=#{id}
	</update>

    <insert id="insertBindCard" parameterType="BindCard">
        INSERT INTO BindCard(personId,bankCard,bankMobile,status,createTime,updateTime) 
       			VALUES (#{personId},#{bankCard},#{bankMobile},#{status},#{createTime},#{updateTime})
    </insert>
    
    
</mapper>