<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hr.mapper.UserMapper">

	<select id="selectById" parameterType="java.lang.Integer" resultType="User">
		SELECT * 
		FROM user
		WHERE id=#{id}
	</select>

	<select id="selectByUsername" parameterType="java.lang.String" resultType="User">
		SELECT * 
		FROM user
		WHERE username=#{username}
	</select>
	
	<update id="updateUser" parameterType="User">
		UPDATE User
		SET username=#{username},
		 	password=#{password},
			email=#{email},
			personId=#{personId},
			createTime=#{createTime},
			updateTime=#{updateTime}
		WHERE id=#{id}
	</update>

    <insert id="insertUser" parameterType="User">
        INSERT INTO user(id,username,password,email,personId,createTime,updateTime) VALUES (#{id},#{username},#{password},#{email},#{personId},#{createTime},#{updateTime})
    </insert>
    
</mapper>