<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">

	<h1 th:inlines="text">用户注册</h1>
	<!-- th:action="@{/user/register}" -->
	<form  action="http://127.0.0.1:8080/user/register" method="post" >
		<p>
			用户名: <input type="text" id="username" name="username" />
		</p>
		<p>
			密码: <input type="text" id="password"  name="password" />
		</p>
		<p>
			email: <input type="text" id="email" name="email" />
		</p>
		<p>
			<input type="submit" value="提交" />
		</p>
	</form>

<!-- 
	<br />
	<h1>添加用户</h1>
	<br />
	<br />
	<div class="with:80%">
		<form class="form-horizontal" th:action="@{/user/register}"
			method="post">
			<div class="form-group">
				<label for="userName" class="col-sm-2 control-label">用户姓名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username"
						id="username" placeholder="用户姓名" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passWord"
						id="password" placeholder="密码" />
				</div>
			</div>
			<div class="form-group">
				<label for="age" class="col-sm-2 control-label">邮箱</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="email" id="email"
						placeholder="邮箱" />
				</div>
			</div>
			<div class="form-group">
            <label for="text" class="col-sm-2 control-label" >昵称</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nickName"  id="nickName" placeholder="昵称"/>
            </div>
        </div
			>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" value="提交" class="btn btn-info" /> &nbsp;
					&nbsp; &nbsp; <input type="reset" value="重置" class="btn btn-info" />
				</div>
			</div>
		</form>
	</div>

 -->

</body>
</html>