<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>

<!-- css -->
<!-- css_bootstrap -->
<link rel="stylesheet" th:href="@{/frontFrame/bootstrap/css/bootstrap.min.css}">

<!-- js -->	
<!-- js_bootstrap -->
<script th:src="@{/frontFrame/jquery/js/jquery.min.js}"></script>
<!-- js_jquery -->
<script th:src="@{/frontFrame/bootstrap/js/bootstrap.min.js}"></script>

<script type="text/javascript">
		function login(){
			var loginname = $("#username").val();
			var loginpswd = $("#password").val();
			
			$.ajax({
				"url":"[[@{/user/login}]]",
				"type":"post",
				"data":{
					"username":loginname,
					"password":loginpswd
					
				},
				"beforeSend":function(){
					alert("abcd");
					/* 
					$.messager.progress();	
					*/
					return true;
				},
				"success":	function(result){
					
					if(result.retCode == '000000'){
						alert("登录成功");
					}else{
						$("#errorMsg").html(result.retMsg);
						$("#errorMsg").show();
					}
					
					/* 
					//关闭进度条
					$.messager.progress("close");
					 */
					/*  
			    	//验证结果
			    	var jsonData=eval("("+result+")");
					alert(jsonData); */				
					/* 
					if(r.success){
						$.messager.alert("PMES系统提示", "派障成功", "info",function(){
							$("#bugticketTable").datagrid("reload");
						});
					}else{
						$.messager.alert("PMES系统提示", "排障失败", "error");
					 
					}
					*/
				}
				
			});
		}
</script>

</head>
<body>
	<h2 style="text-align:center">用户登录-请登录</h2>
	<form th:action="@{/user/login}" method="post">
		<p>
			用户名: <input type="text" id="username" name="username" />
		</p>
		<p>
			密码: <input type="text" id="password" name="password" />
		</p>
		<p>
			<input type="button" onclick="login();" value="提交" />
		</p>
		
		<div id="errorMsg" class="alert alert-danger text-center" style="display:none;"></div>
	</form>
	
</body>
</html>